gui:
  language: 'ja'
git:
  pagers:
    - colorArg: always
      pager: delta --dark --paging=never
os:
  edit: 'nvim {{filename}}'
  editAtLine: 'nvim +{{line}} {{filename}}'
  editInTerminal: true
